html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #efe1b6;            /*#efe1b6 */
  font-family:Georgia, serif;
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

::-webkit-scrollbar { /* global scrollbar , the one on the right*/
  width: 12px;
}

.wrapper {
 /*test height to try the on scroll animations */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

:root {
  --border-brown: #8b6a3e;    /*#8b6a3e*/
  --box-bg: #f6edd2;    /*#f6edd2 */
}

.logo {
  background: transparent;
  border: none;
  height: 220px;
  width: 600px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 260px;
  width: auto;
}

.buttonArea {
  background: var(--box-bg);
  border: 2px solid var(--border-brown);
  height: 100px;
  width: 1400px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.btn {
  width: 150px;
  height: 45px;
  background: #ffdd64;    /* #ffdd64*/
  border: 2px solid var(--border-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background: #fff797;    /* #fff797*/
  transform: scale(1.1);
}

.row {
  width: 1400px;
  margin: 30px auto 0 auto;
  display: flex;
  gap: 30px;
}

.gallery {
  background: var(--box-bg);
  border: 2px solid var(--border-brown);
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.abyss {
  margin-top: 50px;
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #000; 
}

.abyss img {
  width: 100%;
  height: auto;
  display: block;
}

.abyss a img {
  transition:
    transform 0.4s ease,
    opacity 0.2s ease;
}

.abyss img:hover {
  filter: drop-shadow(0 0 15px rgba(211, 197, 7, 0.8));
  -webkit-mask-image: radial-gradient(circle at center, black 80%, transparent 100%); 
  /* Shadow test , might get deleted since its broken*/
}

.changeLog {
  background: #3a2b1a;    /* #3a2b1a*/
  border: 2px solid var(--border-brown);
  width: 1000px;
  height: 250px;
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  color: #ffe596;   /* #ffe596*/
  overflow-y: auto;
  overflow-x: hidden;
}

.changeLog::-webkit-scrollbar {
  width: 12px;
}

.changeLog::-webkit-scrollbar-thumb {
  background-color: #6b4e2d;    /* #6b4e2d*/
  border-radius: 0;
}

.info {
  background: var(--box-bg);
  border-top: 2px solid var(--border-brown);
  width: 100%;
  height: 140px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.abyss a {
  position: relative;
}

.abyss a img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.abyss a:hover img.normal {
  opacity: 0;
}

.abyss a:hover img.hover {
  opacity: 1;
}

@font-face {
  font-family: 'abyssfont';
  src: url('fonts/playhouse-medium.woff') format('woff');
}

.layer-title {
  font-family: 'abyssfont';
  position: absolute;
  top: 10px;         
  left: 50%;
  z-index: 5; 
  transform: translateX(-50%);
  font-size: 36px;
  color: #000;
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
  pointer-events: none;    
  white-space: nowrap;
}

.abyss a:hover .layer-title {
  color: #fff7a8;
  text-shadow: 0 0 10px rgba(255, 240, 120, 0.9);
}