body {
  margin: 0;
  background: #efe1b6;
  font-family:Georgia, serif;
}

::-webkit-scrollbar { /* global scrollbar , the one on the right*/
  width: 12px;
}

.wrapper {
  height: 3000px; /*test height to try the on scroll animations */
  width: 1600px;
  margin: 0 auto;
}

:root {
  --border-brown: #8b6a3e;
  --box-bg: #f6edd2;
}

.logo {
  background: transparent;
  border: none;
  height: 220px;
  width: 600px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 260px;
  width: auto;
}

.buttonArea {
  background: var(--box-bg);
  border: 2px solid var(--border-brown);
  height: 100px;
  width: 1400px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.btn {
  width: 150px;
  height: 45px;
  background: #ffdd64;
  border: 2px solid var(--border-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background: #fff797;
  transform: scale(1.1);
}

.row {
  width: 1400px;
  margin: 30px auto 0 auto;
  display: flex;
  gap: 30px;
}

.gallery {
  background: var(--box-bg);
  border: 2px solid var(--border-brown);
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.abyss {
  background: var(--box-bg);
  border: 2px solid var(--border-brown);
  width: 370px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.changeLog {
  background: #3a2b1a;
  border: 2px solid var(--border-brown);
  width: 1000px;
  height: 250px;
  /*margin-top: 30px;*/
  padding: 20px;
  font-size: 20px;
  color: #ffe596;
  overflow-y: auto;
  overflow-x: hidden;
}

.changeLog::-webkit-scrollbar {
  width: 12px;
}

.changeLog::-webkit-scrollbar-thumb {
  background-color: #6b4e2d;
  border-radius: 0;
}

.info {
  background: var(--box-bg);
  border-top: 2px solid var(--border-brown);
  width: 100%;
  height: 140px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}