body {
  margin: 0;
  font-family: Georgia, serif;

  background-image: url("../../general/textures/backgrounds/layer_1.png");
  background-size: cover;
  background-position: center;
}

/* BACK BUTTON */
.back-btn {
  width: 125px;
  height: 50px;
  margin: 30px auto;
  text-align: center;

  background: url("../../general/textures/info_boxes/5.png");
  background-size: 100% 100%;
  background-position: center;

  padding: 15px;
  color: white;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: 0.2s;
}

.back-btn:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

/* HEADER */
.guide-header {
  text-align: center;
  margin-bottom: 30px;
  color: #ffe596;
}

.guide-header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* MAIN LAYOUT */
.guide-container {
  width: 1400px;
  margin: auto;
  display: flex;
  gap: 20px;
}

/* NAV */
.guide-nav {
  width: 250px;
  background: #3a2b1a;
  border: 3px solid #8b6a3e;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guide-nav div {
  padding: 10px;
  cursor: pointer;
  color: #ffe596;
  transition: 0.2s;
}

.guide-nav div:hover {
  background: #6b4e2d;
}

/* CONTENT BOX */
.guide-content {
  flex: 1;

  background: #3a2b1a;
  border: 3px solid #8b6a3e;

  padding: 25px;
  color: #ffe596;

  height: 600px;
  overflow-y: auto;
}

/* SCROLLBAR */
.guide-content::-webkit-scrollbar {
  width: 10px;
}

.guide-content::-webkit-scrollbar-thumb {
  background: #6b4e2d;
}

/* SECTIONS */
.guide-content h2 {
  margin-top: 30px;
  font-size: 28px;
}

.guide-content p,
.guide-content li {
  font-size: 18px;
  line-height: 1.5;
}

/* SMOOTH */
html {
  scroll-behavior: smooth;
}

.mob-img {
  width: 20%;
}

.screenshot{
  width: 80%;
}

.color { 
    color: yellow
}